.foodie-box-outer-wrapper{
    color: black;
    margin: 7px;
}
.card {
    width: 16rem;
    height: 31rem;
    min-height: 20rem;
}
.card-text {
    color:#686b78;
}
.btn {
    color: white;
    background-color:#fc8019;
    border-color:#fc8019;
    width: 30%;
    padding: 5px;
    opacity: 0.8;
}
button:hover {
    border-color:#ffb24e;
    opacity: 1;
    background-color:#fc8019;
}
.quantity {
    margin-left: 2.5em;
}