<div class="cart-wrapper container">
  <div class="heading-wrapper">
    <span [routerLink]="['/food-items/' + categoryId]">
      <i class="fas fa-arrow-circle-left"></i>
    </span>
    <h4>Your Cart</h4>
  </div>
  <div class="col d-flex justify-content-center">
    <div class="card text-center" *ngIf="selectedItems.length > 0">
      <div class="card-header">
        <h5>Your Order</h5>
      </div>
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col">Food Item</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of selectedItems">
            <td>{{ item.name }}</td>
            <td>{{ '1 X ' + item.quantity  }}</td>
            <td>{{ item.price + ' X ' + item.quantity + ' = ' }} &#8377; {{ item.price * item.quantity }}</td>
          </tr>
        </tbody>
      </table>
      <div class="card-footer">
          <div class="float-right footer-text">
            <div class="text-center">To PAY: </div>
            <div class="text-price"><b>&#8377; {{ total }}</b></div>
          </div>
      </div>
    </div>
    <div class="blank-panel card" *ngIf="selectedItems.length == 0">
      <div class="sub-header">Your cart is empty</div>
      <div class="help">You can go to home page to view food items.</div>
    </div>
  </div>
  <div class="action-button">
    <button class="btn button-orange" (click)="goToCheckout()" [disabled]="selectedItems.length == 0">Confirm Order</button>
  </div>
</div>
